In [60]:
import pandas as pd

In [61]:
enduti_usuarios_anual_2023=pd.read_csv(r'data\conjunto_de_datos_endutih_2023_csv\conjunto_de_datos\tr_endutih_usuarios_anual_2023.csv', dtype="object", encoding='latin1')

In [62]:
enduti_usuarios_anual_2023=enduti_usuarios_anual_2023[['SEXO','EDAD','ENT', 'ESTRATO','P7_21', 'FAC_PER']]

In [63]:
import pandas as pd

# Define the age bins and labels
age_bins = [ 17, 24, 30, 35, 45, 55, 65, float('inf')]
age_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

# Arrays for each zone
noroeste = [2, 3, 8, 10, 25, 26]
noreste = [5, 19, 24, 28]
occidente_bajio = [1, 6, 11, 14, 16, 18, 22, 32]
cdmx = [9]
centro_sur_oriente = [13, 15, 21, 23, 29, 30]
sur = [4, 7, 12, 17, 20, 27, 31]

def assign_zone(ent):
    if ent in noroeste:
        return 'noroeste'
    elif ent in noreste:
        return 'noreste'
    elif ent in occidente_bajio:
        return 'occidente_y_bajio'
    elif ent in cdmx:
        return 'ciudad_de_mexico'
    elif ent in centro_sur_oriente:
        return 'centro_sur_y_oriente'
    elif ent in sur:
        return 'sur'
    else:
        return 'desconocido'  # In case an entity doesn't match any zone
enduti_usuarios_anual_2023['ENT'] = pd.to_numeric(enduti_usuarios_anual_2023['ENT'])
# Apply the function to create the 'ZONA' column
enduti_usuarios_anual_2023['ZONA'] = enduti_usuarios_anual_2023['ENT'].apply(assign_zone)

# Convert 'EDAD' to numeric
enduti_usuarios_anual_2023['EDAD'] = pd.to_numeric(enduti_usuarios_anual_2023['EDAD'])

# Create age groups
enduti_usuarios_anual_2023['GRUPO_EDAD'] = pd.cut(enduti_usuarios_anual_2023['EDAD'], bins=age_bins, labels=age_labels)

# Convert 'FAC_PER' to numeric
enduti_usuarios_anual_2023['FAC_PER'] = pd.to_numeric(enduti_usuarios_anual_2023['FAC_PER'])

# Group by relevant columns including the P7 column
enduti_agrupada = enduti_usuarios_anual_2023.groupby(['GRUPO_EDAD',  'ZONA', 'ESTRATO', 'P7_21'], observed=False).agg({'FAC_PER': 'sum'}).reset_index()

# Pivot the dataframe to have the P7 column values as separate columns
enduti_pivoteada = enduti_agrupada.pivot_table(
    index=['GRUPO_EDAD', 'ZONA', 'ESTRATO'], 
    columns='P7_21', 
    values='FAC_PER', 
    fill_value=0,
    observed=False
).reset_index()

# Rename columns for clarity
enduti_pivoteada.columns = ['GRUPO_EDAD',  'ZONA', 'ESTRATO', 'FAC_PER_P7_19_1', 'FAC_PER_P7_19_2']

In [64]:
#delete temp variables
del enduti_agrupada
del enduti_usuarios_anual_2023

In [65]:
enduti_pivoteada['POBTOT'] = enduti_pivoteada['FAC_PER_P7_19_1'] + enduti_pivoteada['FAC_PER_P7_19_2']
enduti_pivoteada

,GRUPO_EDAD,ZONA,ESTRATO,FAC_PER_P7_19_1,FAC_PER_P7_19_2,POBTOT
0,a,centro_sur_y_oriente,1,172901.0,618846.0,791747.0
1,a,centro_sur_y_oriente,2,1185173.0,1284562.0,2469735.0
2,a,centro_sur_y_oriente,3,438072.0,240886.0,678958.0
3,a,centro_sur_y_oriente,4,165335.0,70306.0,235641.0
4,a,ciudad_de_mexico,1,0.0,0.0,0.0
...,...,...,...,...,...,...
163,g,occidente_y_bajio,4,45001.0,112174.0,157175.0
164,g,sur,1,4025.0,114720.0,118745.0
165,g,sur,2,29830.0,209746.0,239576.0
166,g,sur,3,20603.0,95167.0,115770.0
167,g,sur,4,7048.0,24150.0,31198.0

In [66]:
enduti_pivoteada=enduti_pivoteada[enduti_pivoteada['POBTOT']>0]
enduti_pivoteada=enduti_pivoteada.sort_values(by=['FAC_PER_P7_19_2'], ascending=False)
enduti_pivoteada.head(40)

,GRUPO_EDAD,ZONA,ESTRATO,FAC_PER_P7_19_1,FAC_PER_P7_19_2,POBTOT
73,d,centro_sur_y_oriente,2,998859.0,1998620.0,2997479.0
97,e,centro_sur_y_oriente,2,506586.0,1922213.0,2428799.0
89,d,occidente_y_bajio,2,599602.0,1344586.0,1944188.0
1,a,centro_sur_y_oriente,2,1185173.0,1284562.0,2469735.0
113,e,occidente_y_bajio,2,348018.0,1164157.0,1512175.0
121,f,centro_sur_y_oriente,2,157570.0,1157783.0,1315353.0
25,b,centro_sur_y_oriente,2,940838.0,937193.0,1878031.0
17,a,occidente_y_bajio,2,952261.0,898187.0,1850448.0
72,d,centro_sur_y_oriente,1,137560.0,816529.0,954089.0
20,a,sur,1,258087.0,779277.0,1037364.0
49,c,centro_sur_y_oriente,2,583734.0,771598.0,1355332.0
92,d,sur,1,125847.0,746929.0,872776.0
117,e,sur,2,205853.0,741138.0,946991.0
93,d,sur,2,368897.0,735955.0,1104852.0
137,f,occidente_y_bajio,2,75994.0,716657.0,792651.0
109,e,noroeste,2,189997.0,641740.0,831737.0
41,b,occidente_y_bajio,2,713279.0,635481.0,1348760.0
0,a,centro_sur_y_oriente,1,172901.0,618846.0,791747.0
105,e,noreste,2,165916.0,612076.0,777992.0
65,c,occidente_y_bajio,2,473628.0,571905.0,1045533.0
85,d,noroeste,2,343982.0,557102.0,901084.0
81,d,noreste,2,374120.0,529954.0,904074.0
44,b,sur,1,210914.0,519860.0,730774.0
116,e,sur,1,56009.0,487039.0,543048.0
24,b,centro_sur_y_oriente,1,138711.0,472446.0,611157.0
114,e,occidente_y_bajio,3,244662.0,471267.0,715929.0
145,g,centro_sur_y_oriente,2,59962.0,461182.0,521144.0
141,f,sur,2,77882.0,456377.0,534259.0
96,e,centro_sur_y_oriente,1,17554.0,455048.0,472602.0
98,e,centro_sur_y_oriente,3,224000.0,453018.0,677018.0
13,a,noroeste,2,548112.0,448288.0,996400.0
138,f,occidente_y_bajio,3,103340.0,444412.0,547752.0
68,c,sur,1,129424.0,439976.0,569400.0
21,a,sur,2,516181.0,438718.0,954899.0
48,c,centro_sur_y_oriente,1,50857.0,420968.0,471825.0
101,e,ciudad_de_mexico,2,98304.0,404821.0,503125.0
90,d,occidente_y_bajio,3,371201.0,401313.0,772514.0
133,f,noroeste,2,93180.0,391306.0,484486.0
102,e,ciudad_de_mexico,3,196413.0,373133.0,569546.0
110,e,noroeste,3,201654.0,372590.0,574244.0

In [67]:
enduti_pivoteada.to_csv('data/out/oportunidad_compradores_2023.csv', index=False)